@model jyfangyy.Main.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="~/css/ElementUI/element-ui.css">
    <title>机房预约管理系统</title>
    <style>
        html, body {
            padding: 0;
            margin: 0;
        }

        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }
    </style>
</head>
<body>
    <div id="app">
        <div>
            <el-menu ref="menu1" :default-active="activeIndex1"
                     class="el-menu-demo"
                     mode="horizontal"
                     @@select="handleTopNavSelect"
                     background-color="#545c64"
                     text-color="#fff"
                     active-text-color="#ffd04b">
                <el-menu-item index="1" style="font-size:20pt">机房预约管理系统</el-menu-item>
                <el-menu-item index="2">
                    <i class="el-icon-s-home"></i>首页
                </el-menu-item>
                <el-submenu index="3" style="float:right;">
                    <template slot="title">
                        <i class="el-icon-user"></i>@Model.name
                    </template>
                    <el-menu-item index="3-1">修改密码</el-menu-item>
                    <el-menu-item index="3-2">退出</el-menu-item>
                </el-submenu>
            </el-menu>
        </div>
        <el-container style="position:absolute;top:60px;left:0;right:0; bottom:0px;">
            <el-aside width="220px" style="background-color: #3c4248;color:#fff">
                <el-menu ref="menu2" :default-active="activeIndex2"
                         :default-openeds="['1','2','3','4','5','6']"
                         background-color="#3c4248"
                         text-color="#fff"
                         active-text-color="#ffd04b"
                         @@select="handleLeftNavSelect">
                    @if (Model.type == "1")
                    {
                        <el-submenu index="1">
                            <template slot="title">
                                <i class="el-icon-message"></i>用户管理
                            </template>
                            <el-menu-item index="1-1">学生信息维护</el-menu-item>
                            <el-menu-item index="1-2">教师信息维护</el-menu-item>
                            <el-menu-item index="1-3">管理员信息维护</el-menu-item>
                        </el-submenu>
                    }
                <el-submenu index="2">
                    <template slot="title">
                        <i class="el-icon-reading"></i>机房预约
                    </template>
                    @if (Model.type == "2")
                    {
                        <el-menu-item index="2-1">机房预约申请</el-menu-item>
                    }
                    @if (Model.type == "3")
                    {
                        <el-menu-item index="2-1">机房预约申请</el-menu-item>
                        <el-menu-item index="2-2">个人学习预约申请</el-menu-item>
                    }
                    @if (Model.type == "1")
                    {
                        <el-menu-item index="2-3">机房预约审核</el-menu-item>
                        <el-menu-item index="2-4">个人学习预约审核</el-menu-item>
                    }
                </el-submenu>

                    <el-submenu index="3">
                        <template slot="title">
                            <i class="el-icon-reading"></i>信息查询
                        </template>
                        <el-menu-item index="3-1">机房排课情况查询</el-menu-item>
                        <el-menu-item index="3-2">机房使用情况查询</el-menu-item>
                    </el-submenu>

                    <el-submenu index="4">
                        <template slot="title">
                            <i class="el-icon-reading"></i>失物管理
                        </template>
                        <el-menu-item index="4-1">失物信息发布</el-menu-item>

                        @if (Model.type == "2" || Model.type == "3")
                        {
                            <el-menu-item index="4-2">失物招领</el-menu-item>
                            <el-menu-item index="4-3">我的申领记录</el-menu-item>
                        }

                        @if (Model.type == "1")
                        {
                        <el-menu-item index="4-4">失物审核(申领)</el-menu-item>
                        }
                    </el-submenu>

                    <el-submenu index="5">
                        <template slot="title">
                            <i class="el-icon-reading"></i>破损管理
                        </template>
                        <el-menu-item index="5-1">设备破损信息发布</el-menu-item>

                        @if (Model.type == "2" || Model.type == "3")
                        {
                            <el-menu-item index="5-2">设备破损信息</el-menu-item>
                        }
                        @if (Model.type == "1")
                        {
                            <el-menu-item index="5-3">设备破损检修完成</el-menu-item>
                        }
                    </el-submenu>

                    @if (Model.type == "1")
                    {
                    <el-submenu index="6">
                        <template slot="title">
                            <i class="el-icon-reading"></i>数据维护
                        </template>
                        <el-menu-item index="6-1">楼层信息维护</el-menu-item>
                        <el-menu-item index="6-2">机房信息维护</el-menu-item>
                        <el-menu-item index="6-3">设备信息维护</el-menu-item>
                    </el-submenu>
                    }
                </el-menu>
            </el-aside>
            <el-main style="padding:0px;overflow-y:hidden;">
                <iframe :src="mainFrameUrl" style="width:100%;height:100%;border:none;" name="_mainFrame"></iframe>
            </el-main>
        </el-container>


        <el-dialog title="修改密码" :visible.sync="dialogFormVisible" width="400px" :show-close="false" :close-on-click-modal="false">
            <el-form ref="form" :model="form" :rules="rules" label-width="80px" v-loading="dialogLoading">
                <el-form-item label="原密码" prop="pwd">
                    <el-input type="password" v-model="form.pwd"></el-input>
                </el-form-item>
                <el-form-item label="新密码" prop="pwd_n">
                    <el-input type="password" v-model="form.pwd_n"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @@click="onSubmit('form')">修改密码</el-button>
                    <el-button @@click="dialogFormVisible=false">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
    </div>
</body>
<!-- 先引入 Vue -->
<script src="~/js/vue.js"></script>
<!-- 引入组件库 -->
<script src="~/js/ElementUI/element-ui.js"></script>
<script src="~/js/vue-resource.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                activeIndex1: "2",
                activeIndex2: "0",
                dialogFormVisible: false,
                dialogLoading: false,
                mainFrameUrl: "",
                form: {
                    pwd: "",
                    pwd_n: ""
                },
                rules: {
                    pwd: [
                        {
                            required: true,
                            message: '请输入原密码',
                            trigger: 'blur'
                        }
                    ],
                    pwd_n: [
                        {
                            required: true,
                            message: '请输入新密码',
                            trigger: 'blur'
                        }
                    ]
                }
            }
        },
        methods: {
            onSubmit(form) {
                this.$refs[form].validate(valid => {
                    if (valid) {
                        this.dialogLoading = true;
                        var url = "/User/ChangePwd";
                        var data = this.form;
                        this.$http.post(url, data).then(res => {
                            var resCode = res.body.code;
                            var resMsg = res.body.msg;
                            if (resCode != "0000") {
                                this.$message.error("修改密码失败，错误原因:" + resMsg);
                                this.dialogLoading = false;
                                return;
                            }

                            this.$message({
                                type: "success",
                                message: "修改密码成功"
                            });

                            this.dialogLoading = false;
                            this.dialogFormVisible = false;
                        }, err => {
                            console.error(err);
                            this.$message.error("请求异常");
                            this.dialogLoading = false;
                        });
                    } else {
                        return false;
                    }
                });
            },
            handleTopNavSelect(index) {
                var url = "/Home/CheckLogin";
                this.$http.post(url).then(res => {
                    var resCode = res.body.code;
                    var resMsg = res.body.msg;
                    if (resCode != "0000") {
                        this.$message.error(resMsg);
                        this.openUrl("/");
                        return;
                    }
                    this.$refs["menu2"].activeIndex = null;
                    console.info(index);
                    switch (index) {
                        case "2"://首页
                            break;
                        case "3-1": //修改密码
                            this.form = {
                                pwd: "",
                                pwd_n: ""
                            };
                            this.dialogFormVisible = true;
                            break;
                        case "3-2": //退出
                            this.openUrl("/User/LogoutSys");
                            break;
                    }
                }, err => {
                    console.error(err);
                    this.$message.error("请求异常");
                    this.openUrl("/");
                });
            },
            handleLeftNavSelect(index) {
                var url = "/Home/CheckLogin";
                this.$http.post(url).then(res => {
                    var resCode = res.body.code;
                    var resMsg = res.body.msg;
                    if (resCode != "0000") {
                        this.$message.error(resMsg);
                        this.openUrl("/");
                        return;
                    }
                    this.$refs["menu1"].activeIndex = null;
                    console.info(index);
                    switch (index) {
                        case "1-1"://学生信息管理
                            this.mainFrameUrl = "/User/Student";
                            break;
                        case "1-2"://教师信息管理
                            this.mainFrameUrl = "/User/Teacher";
                            break;
                        case "2-1"://机房预约申请
                            this.mainFrameUrl = "/LabApply/Index";
                            break;
                        case "2-2"://个人学习预约申请
                            this.mainFrameUrl = "/LabApply/Study";
                            break;
                        case "2-3"://机房预约审核
                            this.mainFrameUrl = "/LabApply/Apply";
                            break;
                        case "2-4"://个人学习预约审核
                            this.mainFrameUrl = "/LabApply/StudyApply";
                            break;
                        case "1-3"://管理员信息管理
                            this.mainFrameUrl = "/User/Admin";
                            break;
                        case "6-1": //楼层信息
                            this.mainFrameUrl = "/Storey/Index";
                            break;
                        case "6-2": //实验室信息
                            this.mainFrameUrl = "/Laboratory/Index";
                            break;
                        case "6-3": //设备信息
                            this.mainFrameUrl = "/Device/Index";
                            break;
                        case "3-1":  //机房排课情况查询
                            this.mainFrameUrl = "/Report/LabPaike";
                            break;
                        case "3-2":  //机房使用情况查询
                            this.mainFrameUrl = "/Report/LabUse";
                            break;
                        case "4-1"://失物信息发布
                            this.mainFrameUrl = "/Loss/Index";
                            break;
                        case "4-2"://失物信息申领
                            this.mainFrameUrl = "/Loss/Apply";
                            break;
                        case "4-3"://我的申领记录
                            this.mainFrameUrl = "/Loss/ApplyForMe";
                            break;
                        case "4-4"://我的申领记录
                            this.mainFrameUrl = "/Loss/Check";
                            break;
                        case "5-1"://破损信息发布
                            this.mainFrameUrl = "/Damage/Index";
                            break;
                        case "5-2"://破损信息查询
                            this.mainFrameUrl = "/Damage/Query";
                            break;
                    }
                }, err => {
                    console.error(err);
                    this.$message.error("请求异常");
                    this.openUrl("/");
                });
            },
            openUrl(url, target) {
                if (target == undefined) {
                    target = "_self";
                }
                window.open(url, target);
            }
        },
        mounted() {
            @if (Model.type == "1")
            {
                <text>
                this.mainFrameUrl = "/User/Student";
                </text>
             }
            @if (Model.type == "2")
            {
                <text>
                this.mainFrameUrl = "/LabApply/Index";
                </text>
             }
            @if (Model.type == "3")
            {
                <text>
                this.mainFrameUrl = "/LabApply/Study";
                </text>
             }
        }
    });
</script>
</html>
